<!DOCTYPE html>
<html lang="en">

<head>
    <title>Query</title>
    <link rel="stylesheet" href="./static/index_7_5.css">
</head>

<body>
    <form action="/query" method="post">
        <label name="id">Enter candidate ID:</label>
        <input type="text" name="id">
        <input type="submit" value="Enter">
    </form>
    <br>

    {% if id %}
    <table>
        <tr>
            <th>Name</th>

            {% for score in queryList[1] %}
                <th>Round {{loop.index}} Score</th>
            {% endfor %}

            <th>Total Score</th>
            <th>Qualified</th>
        </tr>

        <tr>
            <td>{{queryList[0]}}</td>

            {% for score in queryList[1] %}
                <td>{{score}}</td>
            {% endfor %}

            <td>{{queryList[2]}}</td>
            <td>{{queryList[3]}}</td>
        </tr>

    </table>
    {% endif %}
    <br>

    <form action="/">
        <input type="submit" value="Return">
    </form>
</body>

</html>